// 项目中删除以下文件
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 12px/1.5 'Microsoft Yahei', tahoma, arial, \5b8b\4f53;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

fieldset, img {
  border: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: #555;
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: underline;
  }
}

i, em, strong, th {
  font-style: normal;
  font-weight: normal;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
  zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  background-color: #fff;
}

.hide {
  display: none;
}

.crm-wrapper {
  width: 1190px;
  margin: 0 auto;
}

.crm-top-bar {
  position: relative;
  width: 100%;
  height: 60px;
  //padding: 14px 0 13px;
  background-color: #5871a7;

  .crm-top-logo {
    display: block;
    float: left;
    width: 343px;
    height: 33px;
    margin-top: 14px;
    margin-right: 10px;
    background: url(images/sprite-crm.png) no-repeat 0 -184px;
    line-height: 33px;
    text-indent: 100%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }
  .crm-top-list {
    li {
      float: left;
      width: 180px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 18px;
      font-weight: normal;
      color: #ffffff;
    }
    .selected {
      background: #40578b;
      font-weight: bold;
    }
  }
  .crm-top-user {
    float: right;
    margin-top: 14px;
    .todo-detail {
      display: none;
      float: left;
      width: 200px;
      height: 30px;
      background-color: #3d4f75;
      border-radius: 15px;
      line-height: 30px;
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;

      .icon {
        display: inline;
        float: left;
        width: 14px;
        height: 12px;
        margin: 9px 10px 9px 20px;
        background: url(images/sprite-crm.png) no-repeat -16px -32px;
      }
      .num {
        padding: 0 4px;
        color: #ffba00;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .user-detail {
      display: block;
      float: left;
      height: 30px;
      margin-left: 40px;
      line-height: 30px;
      color: #fff;
      font-size: 14px;

      .icon {
        display: block;
        float: left;
        width: 12px;
        height: 14px;
        margin: 8px 10px 8px 0;
        background: url(images/sprite-crm.png) no-repeat 0 -30px;
      }
      .userID {
        padding-left: 5px;
      }
    }
    .user-exit {
      display: block;
      float: left;
      height: 30px;
      margin-left: 10px;
      line-height: 30px;
      color: #ffba00;
      font-size: 14px;
    }
  }
}

.nav-tab {
  float: left;
  width: 170px;
  height: 660px;
  margin-top: 20px;
  padding-left: 10px;
  background-color: #eee;
  .nav-tab-item {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    margin-bottom: 6px;
    line-height: 70px;
    color: #555;
    font-size: 18px;
    text-decoration: none;

    i {
      display: inline;
      float: left;
      width: 36px;
      height: 36px;
      margin: 17px 10px 17px 20px;

      &.item-icon1 {
        background: url(images/sprite-crm.png) no-repeat 0 -48px;
      }
      &.item-icon2 {
        background: url(images/sprite-crm.png) no-repeat -37px -48px;
      }
      &.item-icon3 {
        background: url(images/sprite-crm.png) no-repeat -74px -48px;
      }
      &.item-icon4 {
        background: url(images/sprite-crm.png) no-repeat -111px -48px;
      }
      &.item-icon5 {
        background: url(images/sprite-crm.png) no-repeat -148px -48px;
      }
      &.item-icon6 {
        background: url(images/sprite-crm.png) no-repeat -185px -48px;
      }
      &.item-icon7 {
        background: url(images/sprite-crm.png) no-repeat -222px -48px;
      }
      &.item-icon8 {
        background: url("images/sprite-crm.png") no-repeat -259px -48px;
      }
      &.item-icon9 {
        background: url("images/sprite-crm.png") no-repeat -296px -48px;
      }
    }
    &:hover {
      background-color: #fbfbfb;
    }
    &.current {
      background-color: #fbfbfb;

      &:hover, &:active {
        background-color: #fbfbfb;
      }
      &:after, &:hover:after, &:active:after {
        content: '';
        position: absolute;
        top: 29px;
        right: 20px;
        width: 7px;
        height: 13px;
        background: url(images/sprite-crm.png) no-repeat -34px -31px;
      }
    }
  }
  .tit-root {
    left: -10px;
    width: 170px;
    padding-left: 10px;
    background: #5871a7;
    color: #ffffff;
    &:hover {
      background-color: #5871a7;
    }
  }
}

.tab-content {
  position: relative;
  float: right;
  width: 990px;
  margin-top: 15px;
  .wrapper {
    border-bottom: 1px solid #e0e0e0;
    li {
      float: left;
      font-size: 20px;
      width: 160px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #333333;
      border-bottom: 4px solid #ffffff;
      a {
        text-decoration: none;
        &:hover {
          color: #333;
        }
      }
    }
    .on {
      font-size: 24px;
      color: #5871a7;
      border-bottom: 4px solid #5871a7;
      a {
        color: #5871a7;
      }
    }
  }
  .controller {
    padding-top: 36px;
    padding-bottom: 50px;
    tr {
      height: 30px;
    }
    td {
      color: #909090;
      p {
        width: 155px;
        height: 30px;
        line-height: 30px;
        margin-right: 15px;
        padding-right: 5px;
        border: 1px solid #dadadb;
        overflow: hidden;
        input {
          position: relative;
          left: -1px;
          border-left: 1px solid #e0e0e0;
          height: 30px;
          border: 0;
          text-indent: 5px;
        }
        i {
          display: inline-block;
          float: right;
          margin-top: 12px;
          width: 11px;
          height: 6px;
          background: url("images/sprite-crm.png") no-repeat -136px -31px;
        }
      }
      .date {
        position: relative;
        width: 120px;
        input {
          position: relative;
          width: 126px;
          cursor: pointer;
          background-color: transparent;
          z-index: 101;
        }
        i {
          position: absolute;
          top: 8px;
          right: 5px;
          width: 20px;
          height: 15px;
          margin-top: 0px;
          background: url("images/sprite-crm.png") no-repeat -112px -30px;
          z-index: 100;
        }
      }
      .active {
        width: 375px;
        input{
          width: 360px;
        }
      }
      .scr-btn {
        width: 96px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        background: #5871a7;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: #425889;
        }
      }
    }
  }
  .declare {
    height: 15px;
    padding-bottom: 10px;
    i {
      position: relative;
      top: 4px;
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 3px;
      background: url("images/sprite-crm.png") no-repeat -116px -87px;
    }
    span {
      display: inline-block;
      height: 14px;
      line-height: 14px;
      color: #5871a7;
    }
  }
  .to-screen {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    background: #eeeeee;
    i {
      float: right;
      margin-right: 5px;
      color: #ee6b57;
      font-size: 12px;
    }
    .b-tit {
      font-size: 18px;
      color: #333333;
    }
    .b-date {
      padding-left: 15px;
      font-size: 14px;
      color: #666;
    }
    a {
      display: inline-block;
      float: right;
      color: #5871a7;
      font-size: 14px;
      &:hover {
        color: #5871a7;
      }
      i {
        position: relative;
        top: 15px;
        display: inline-block;
        width: 11px;
        height: 14px;
        float: right;
        background: url("images/sprite-crm.png") no-repeat -150px -33px;
      }
    }
    .over {
      i{
        background: url("images/sprite-crm.png") no-repeat -164px -32px;
      }
    }
  }
  .sort-ele {
    padding: 20px 0px 20px 20px;
    color: #666;
    border-bottom: 1px solid #e0e0e0;
    p{
      padding-bottom: 20px;
    }
    .ele-head {
      font-size: 12px;
      margin-right: 20px;
    }
    .ele-opt {
      input {
        display: inline-block;
        width: 110px;
        height: 30px;
        color: #666;
        margin-right: 12px;
        border: 1px solid #dadadb;
        background: #ffffff;
        cursor: pointer;
        &:hover{
          border-color: #5871a7;
        }
      }
      .on{
        background: url("images/sprite-crm.png") no-repeat -149px -91px;
        border-color: #5871a7;
      }
    }
    .ent-btn{
      padding-left: 81px;
      padding-bottom: 0;
      input{
        display: block;
        width: 115px;
        height: 30px;
        background: #5871a7;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
          background: #425889;
        }
      }
    }
  }
  .scr-contain {
    padding-top: 30px;
    .scr-vri {
      li {
        width: 180px;
        overflow: hidden;
        float: left;
        margin: 0 75px 26px;
        .radius {
          width: 160px;
          height: 120px;
          border-radius: 160px;
          padding-top: 40px;
          border: 10px solid #dddddd;
          p {
            text-align: center;
          }
          .tit {
            font-size: 16px;
          }
          .count {
            font-size: 14px;
            em {
              font-size: 26px;
            }
          }
          .mobile {
            width: 108px;
            height: 36px;
            line-height: 36px;
            font-size: 16px;
            color: #999999;
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid #dddddd;
            i {
              position: relative;
              top: 1px;
              display: inline-block;
              width: 11px;
              height: 15px;
              background: url("images/sprite-crm.png") no-repeat -135px -89px;
            }
          }
          .no-data {
            font-size: 16px;
            line-height: 85px;
            text-align: center;
          }
        }
        .rad-1 {
          border-color: #a3bffb;
        }
        .rad-2 {
          border-color: #58d6d8;
        }
        .rad-3 {
          border-color: #f9c64a;
        }
        .rad-4 {
          border-color: #91d589;
        }
        .rad-5 {
          border-color: #e09aeb;
        }
        .rad-6 {
          border-color: #fe9898
        }
      }
      .description {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
        color: #333;
      }
    }
  }
  .do-list {
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    .l-left {
      position: relative;
      float: left;
      width: 125px;
      height: 270px;
      margin-top: 35px;
      background: url("images/table-element.png") no-repeat -272px 0;
      .l-data {
        position: absolute;
        width: 63px;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
      }
      .pos-1 {
        top: 35px;
        left: 33px;
      }
      .pos-2 {
        top: 116px;
        left: 33px;
      }
      .pos-3 {
        top: 198px;
        left: 33px;
      }
      .pos-4 {
        top: 76px;
        left: -30px;
      }
    }
    .l-right {
      float: left;
      color: #ffffff;
      li {
        position: relative;
        width: 745px;
        margin-bottom: 3px;
      }
      .l-tit {
        position: relative;
        float: left;
        line-height: 80px;
        width: 261px;
        font-size: 20px;
        z-index: 1000;
      }
      .l-contain {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 42px;
        padding: 16.5px 0;
        z-index: 100;
        .l-detail {
          position: absolute;
          text-align: right;
          font-size: 14px;
          color: #666666;
          table {
            tr {
              vertical-align: middle;
            }
            .tin {
              text-align: left;
              i {
                position: relative;
                top: 4px;
                display: inline-block;
                margin-right: 4px;
                float: left;
                width: 10px;
                height: 11px;
              }
            }
            .up {
              color: #ff0000;
              i {
                background: url("images/table-element.png") no-repeat -380px -270px;
              }
            }
            .down {
              color: #50ba09;
              i {
                background: url("images/table-element.png") no-repeat -369px -270px;
              }
            }
          }
        }
        .d-pos1 {
          left: 330px;
        }
        .d-pos2 {
          left: 277px;
        }
        .d-pos3 {
          left: 500px;
        }
        .d-pos4 {
          left: 221px;
        }
        .d-pos5 {
          left: 466px;
        }
        .d-pos6 {
          left: 210px;
        }
        .d-pos7 {
          left: 460px;
        }
      }
      .size-1 {
        text-indent: 70px;
        background: url("images/table-element.png") no-repeat -6px 0px;
      }
      .size-2 {
        text-indent: 50px;
        background: url("images/table-element.png") no-repeat -6px -105px;
      }
      .size-3 {
        text-indent: 52px;
        background: url("images/table-element.png") no-repeat -6px -210px;
      }
      .size-4 {
        text-indent: 32px;
        background: url("images/table-element.png") no-repeat -6px -315px;
      }
      .bg1 {
        background: #eefbfb;
      }
      .bg2 {
        background: #f5f8ff;
      }
      .bg3 {
        background: #fef9eb;
      }
      .bg4 {
        background: #fff4f4;
      }
    }
  }
  .map-option {
    padding: 25px 20px;
    border-bottom: 1px solid #e0e0e0;
    a {
      display: inline-block;
      width: 88px;
      height: 30px;
      padding: 5px 7px;
      line-height: 30px;
      border-radius: 5px;
      font-size: 14px;
      margin-right: 46px;
      text-align: center;
      color: #333333;
      &:hover {
        color: #5871a7;
      }
    }
    a.on {
      background: #5871a7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .map-contain {
    position: relative;
    .map {
      float: left;
      width: 700px;
      height: 505px;
      padding-top: 25px;
    }
    .data-list {
      position: absolute;
      right: 20px;
      bottom: 44px;
      width: 210px;
      float: left;
      text-align: center;
      td {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #ffffff;
      }
      .tit {
        td {
          height: 32px;
          background-color: #65abe9;
          color: #ffffff;
        }
        .conner {
          background-image: url("images/coner.jpg");
          background-repeat: no-repeat;
        }
      }
      tr {
        background: #f0f7fd;
      }
      tr:nth-child(even) {
        background: #e1f0fb;
      }
    }
    .page {
      position: absolute;
      width: 210px;
      right: 20px;
      bottom: 14px;
      font-size: 12px;
      text-align: center;
      a {
        display: inline-block;
        padding: 0 5px;
        border: 1px solid #ffffff;
        color: #666;
        text-decoration: none;
      }
      a.on{
        border-color: #5871a7;
        color: #5871a7;
      }
    }
  }
  .describe {
    border: 1px solid #e0e0e0;
    padding: 14px;
    margin-top: 60px;
    .des-contain {
      height: 150px;
      background: #e6eaf2;
      padding: 0 25px;
      .dc-left {
        float: left;
        margin: 25px;
        margin-left: 0;
        width: 101px;
        height: 101px;
        background: url("images/table-element.png") no-repeat -301px -283px;
      }
      .dc-right {
        float: left;
        margin-top: 38px;
        width: 784px;
        font-size: 16px;
        em {
          font-weight: bold;
        }
      }
    }
  }
}
.cover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  z-index: 10000;
}
.pop{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 400px;
  height: 255px;
  background: #ffffff;
  z-index: 10001;
  .tit{
    height: 20px;
    padding: 15px;
    font-size: 16px;
    color: #ffffff;
    background: #5871a7;
    i{
      display: inline-block;
      float: right;
      width: 18px;
      height: 18px;
      background: url("images/sprite-crm.png") no-repeat -168px -89px;
      cursor: pointer;
    }
  }
  .contain{
    margin-top: 55px;
    text-align: center;
    color: #333333;
    font-size: 18px;
  }
  input.btn{
    display: block;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    width: 100px;
    height: 30px;
    margin: auto;
    margin-top: 40px;
    background: #5871a7;
    cursor: pointer;
  }
}
.ac_results{
  border-color: #e0e0e0;
  .ac_over{
    background: #5871a7;
  }
}
.ac_odd{
  background: #f8f8f8;
}
.ac_even{
  background: #f8f8f8;
}
